.furi{
    display:inline-flex;
    flex-direction:column;
    align-items:center;
    line-height:1;
    vertical-align:middle;
}

.furi .kana{
    font-size:.52em;
    margin-bottom:-2px;
    font-weight:400;
    white-space:nowrap;
}

.furi .kanji{
    font-size:1em;
}